.container {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 30px;
}
.title {
  width: 100%;
}

.content {
  height: 450px;
  width: 100%;
}

.btns {
  margin-top: 10px;
  text-align: center;
}
